<div class="container" *ngIf="movie">
    <div class="row">
        <div class="col-lg-2">{{movie.Title}}</div>
        <div class="col-lg-2">{{movie.Country}}</div>
        <div class="col-lg-2">{{movie.Director}}</div>
        <div class="col-lg-2">{{movie.Genre}}</div>
        <div class="col-lg-2">{{movie.Released}}</div>
        <img src="{{movie.Poster}}" />
    </div>
</div>
<!-- Object {Actors: "Harrison Ford, Alec Guinness, Mark Hamill, James Earl Jones", Awards: "N/A", Country: "USA", Director: "N/A", Genre: "Action, Adventure, Sci-Fi"…} -->