<h1>{{title}}</h1>
<!--<h2>{{algo.name}} details!</h2>
<div><label>id: </label>{{algo.id}}</div>
<div><label>name: </label>{{algo.name}}</div>

 <div>
    <label>name: </label>
    <input [(ngModel)]="algo.name" placeholder="name"> 
  </div>

<h2>My Algos</h2>
<ul class="items">
  <li *ngFor="let algo of algos" (click)="onSelect(algo)">
    <span class="badge">{{algo.id}}</span> {{algo.name}}
  </li>
</ul>

<div><label>id: </label>{{stackAlgo.id}}</div>
<div><label>name: </label>{{stackAlgo.name}}</div>-->
<md-grid-list cols="4" [style.background]="'lightblue'">
   <md-grid-tile>One</md-grid-tile>
   <md-grid-tile>Two</md-grid-tile>
   <md-grid-tile>Three</md-grid-tile>
   <md-grid-tile>Four</md-grid-tile>
</md-grid-list>
<stack items=algos></stack>