<input [(ngModel)]="search.searchQuery" class="">
<button (click)="onSubmit()" type="submit" class="btn btn-default">Submit</button>

<div class="container" *ngIf="data">
    <div class="row" *ngFor="let item of searchHistory">
        <div class="col-lg-2">{{item.response.Title}}</div>
        <div class="col-lg-2">{{item.response.Country}}</div>
        <div class="col-lg-2">{{item.response.Director}}</div>
        <div class="col-lg-2">{{item.response.Genre}}</div>
        <div class="col-lg-2">{{item.response.Released}}</div>
    </div>
</div>

<!--
"Chad Damon, Tyler Honigsfeld"
Awards
:
"N/A"
Country
:
"USA"
Director
:
"Rene Moran"
Genre
:
"Short, Action"
Language
:
"English"
Metascore
:
"N/A"
Plot
:
"N/A"
Poster
:
"N/A"
Rated
:
"N/A"
Released
:
"02 Feb 2016"
Response
:
"True"
Runtime
:
"N/A"
Title
:
"Fight"
Type
:
"movie"
-->