<div class="moviesSpy-searchSummary">
    <input [(ngModel)]="search.searchQuery" class="">
    <button (click)="onSubmit()" type="submit" class="btn btn-default">Search</button>
</div>
<!--
<div class="container" *ngIf="dbMovies">
    <div class="row" *ngFor="let item of dbMovies | async" [routerLink]="['details', item.imdbID]">
        <div class="col-lg-2">Title: {{item.Title}}</div>
        <div class="col-lg-2">Country: {{item.Country}}</div>
        <div class="col-lg-2">Director: {{item.Director}}</div>
        <div class="col-lg-2">Genre: {{item.Genre}}</div>
        <div class="col-lg-2">Released: {{item.Released}}</div>
        <img src="{{item.Poster}}" />
    </div>
</div>-->

<table class="table-striped">
    <th>Title</th>
    <th>Country</th>
    <th>Director</th>
    <th>Genre</th>
    <th>Released</th>
    <th>Action</th>

    <tr *ngFor="let item of dbMovies | async">
        <td>{{item.Title}}</td>
        <td>{{item.Country}}</td>
        <td>{{item.Director}}</td>
        <td>{{item.Genre}}</td>
        <td>{{item.Released}}</td>
        <td><a [routerLink]="['details', item.imdbID]">Details</a>
    </td>
</table>

<!--
"Chad Damon, Tyler Honigsfeld"
Awards
:
"N/A"
Country
:
"USA"
Director
:
"Rene Moran"
Genre
:
"Short, Action"
Language
:
"English"
Metascore
:
"N/A"
Plot
:
"N/A"
Poster
:
"N/A"
Rated
:
"N/A"
Released
:
"02 Feb 2016"
Response
:
"True"
Runtime
:
"N/A"
Title
:
"Fight"
Type
:
"movie"
-->